body{
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid black;
    width:100%;
}
.main{
    display: flex;
    height: auto;
    /* width: 300px; */
    /* flex-flow: row wrap; */
    flex-wrap: wrap;
}
div{
    height: 45px;
    background-color: blueviolet;
    border: 1px solid yellow;
    flex-grow: 1;
    min-width: 100px;
    text-align: center;
    color: white;
    /* width: 50px; */
}

div .two{
    flex-grow:2;
    background-color: brown;
}