body{
    max-width: 1200px;
    margin: 0 auto;
}

div{
    height: 50px;
    width: 50px;
}

.red{
    background-color: red;
}
.green{
    position: absolute;
    top: 1px;
    left:1px;
    background-color: green;
}
.blue{
    background-color: blue;
}